*{
    padding: 0%;
    margin: 0%;
    user-select: none;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background: black;
}
.imagen{
    position: absolute;
    z-index: 7;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagen img{
    width: calc(23vw + 20vh);
    z-index: 7;
    opacity: 0;
    transform: translateX(0px) translateY(0px);
    box-shadow: 0px 0px 10px  #35A09B, 0 0 0px #35A09B, 0 0 100px #35A09B;
    border-radius: 40px;

}
.fondo img{
    left: 0;
    top: -10%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: fixed;
    width: auto;
    height: 140%;
    opacity: 0;
    object-fit: contain;
    transition: 100ms;
}
#lin{
    z-index: 4;
    position: absolute;
    width: 80vw;
    margin-left: 10vw;
    height: 1.5vw;
    background: white;
}
.texto{
    position: absolute;
    top: 50vh;
    margin-top: -10vw;
    width: 100vw;
    height: 1.5vw;
}
#dd{
    opacity: 0;
    font-size: 7em;
    z-index: 4;
    font-family: 'Anton', sans-serif;
    color: white;
}
#uu{
    width: 100%;
    position: absolute;
    z-index: 10;
    margin-top: 4vw;
    letter-spacing: .3em;
    font-size: 2em;
    opacity: 0;
    font-family: 'Anton', sans-serif;
    color: white;
}



.funcion{
    z-index: 10;
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 119vh;
    background-image: url(img/degradado.png);
    background-size: cover;
    background: repeat: no-repeat;
    background-position: center;
}
.imagen21 img{
    width: 60vw;
    height: auto;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
}

.inf{   
    position: absolute;
    top: 20vh;
    left: 8vw;
    width: 50%;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 1.6rem;
    z-index: 15;
}
.inf2{   
    position: absolute;
    top: 50vh;
    left: 70vw;
    width: 30%;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 1.6rem;
    z-index: 15;
}

.inf3{   
    position: absolute;
    top: 90vh;
    left: 8vw;
    width: 30%;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 1.5rem;
    z-index: 15;
}


/* aqui lo que haremos sera crear las animaciones que utilizaremos para el inicio */

@keyframes desl {
    from{
        width: 0;
    }to{
        width: 80vw;
    }
}
@keyframes desl2 {
    from{
        transform: translateY(5vw);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 10;
    }
}
@keyframes mantener {
    from{
        opacity: 10;
    }to{
        opacity: 10;
    }
}
@keyframes aparecer1 {
    from{
        opacity: 0;
    }to{
        opacity: 10;
    }
}
@keyframes aparecer2 {
    from{
        width: auto;
        height: 130%;
        opacity: 0;
    }to{
        width: auto;
        height: 140%;
        opacity: 10;
    }
}
@keyframes aparecer3 {
    from{
        width: calc(30vw + 22vh);
        opacity: 0;
    }to{
        width: calc(23vw + 20vh);
        opacity: 10;
    }
}